/*---------------GENERAL-----------------*/
body,
.image-block {
	background-color: #F6F6F6;
}

nav .main-menu .dropdown-menu {
	border-color: #BBA12D;
}

nav .main-menu .dropdown-menu a:hover {
	background-color: rgba(0, 97, 47, 0.8) !important;
	color: #E46713 !important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover {
	border-bottom: 4px solid #E46713 !important;
	background-color: transparent !important;
	color: #E46713 !important;
}

#header.header-transparent {
	background-color: rgba(0, 0, 0, 0.1);
}

#header.header-transparent,
#header.header-light-transparent {
	border-bottom: 0;
}

.heading.heading-center::after,
.heading.title-center::after {
	margin: 15px auto 0;
}

nav .main-custom a,
#header.header-dark.header-sticky.header-navigation-light .main-menu>ul>li>a {
	color: #01622F;
	background-image: url("images/serpong/logo-ss.png");
}

.heading h2+span {
	font-size: 17px !important;
}

.hades.tparrows {
	background: rgba(0, 97, 47, 0.25);
}

.line-white {
	border-bottom: 3px solid #fff !important;
}

.font-line {
	border-bottom: 3px solid #01622F;
	display: inline-flex;
	margin-top: -38px;
	max-width: 100%;
}

.topbar-dropdown {
	font-size: 14px;
}

#topbar.topbar-transparent {
	border-bottom: 1px solid transparent;
}

#topbar .social-icons li:first-child a {
	border-left: 0;
}

#topbar .social-icons li a {
	border-right: 0;
	font-size: 20px;
}

.image-box-links a {
	background-color: transparent !important;
}

#topbar.topbar-dark {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: transparent;
}

#header.header-dark.header-navigation-light .lines,
#header.header-dark.header-navigation-light .lines::before,
#header.header-dark.header-navigation-light .lines::after {
	background-color: #fff;
}

.product .product-overlay {
	height: auto;
	bottom: -62px;
}

.carousel-awards .owl-dots {
	margin-top: 0 !important;
}

/*owl-control-custom*/
.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-prev {
	left: 94%;
	top: -48px;
}

.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-next {
	left: 97%;
	top: -48px;
}

.carousel-custom-arrow .owl-theme .owl-controls .owl-nav .owl-prev {
	left: 87.5%;
	top: -48px;
}

.carousel-custom-arrow .owl-theme .owl-controls .owl-nav .owl-next {
	left: 93.5%;
	top: -48px;
}

.carousel-description-style .owl-carousel .owl-controls .owl-nav .owl-prev,
.carousel-description-style .owl-carousel .owl-controls .owl-nav .owl-next,
.background-green,
.owl-theme .owl-dots .owl-dot span::after,
.btn-green {
	background-color: #01622F;
}

.carousel-video-style .owl-carousel .owl-controls .owl-nav .owl-prev,
.carousel-video-style .owl-carousel .owl-controls .owl-nav .owl-next {
	background-color: #E46713 !important;
}

.owl-theme .owl-controls .owl-nav .owl-prev i,
.owl-theme .owl-controls .owl-nav .owl-next i {
	line-height: 40px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
	height: 50px;
	background-color: #01622F;
}

.inspiro-slider.owl-carousel .owl-controls .owl-nav .owl-next,
.inspiro-slider.owl-carousel .owl-controls .owl-nav .owl-prev {
	height: 60px !important;
	width: 60px !important;
}

.inspiro-slider .slide {
	background-position: center center !important;
	background-size: cover !important;
}

.inspiro-slider.owl-theme .owl-controls .owl-nav .owl-next i {
	line-height: 50px !important;
}

.inspiro-slider.owl-theme .owl-dots .owl-dot span::after {
	background-color: #fff !important;
}

.image-box.effect.juna:hover .image-box-content,
.image-box.effect.erdi:hover .image-box-content {
	background: rgba(9, 92, 48, 0.6);
}

.image-box.effect.juna .image-box-content {
	background: none;
}

.social-icons li a {
	border-radius: 20px;
	margin: auto;
	height: 36px;
	width: 36px;
	line-height: 34px;
	font-size: 22px;
}

.social-icons-colored li a {
	border-radius: 5px;
	margin: auto;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 16px;
	margin: 0px 0px 0px 5px;
}

.read-more-green i {
	color: #01622F !important;
}

.post-info i,
.read-more i,
.portfolio-filter li.ptf-active {
	color: #fff;
}

.post-info i:hover,
.read-more i:hover,
.post-read-more a:hover {
	color: #FCC43F !important;
}

.list-medium li {
	margin: 0;
}

.post-info {
	opacity: 10;
}

.item-video {
	height: auto !important;
}

.input-group-addon {
	background-color: #E36612;
	border: 2px solid #E36612;
}

.button.effect.icon-right:hover i,
.button.effect.icon-top:hover i {
	color: #fff;
}

.button.green {
	background-color: #01622F;
	border-color: #01622F;
}

.separator-custom {
	border-top: 1px solid #bbb;
	width: 100%;
	margin: 30px auto;
	overflow: hidden;
	text-align: center;
	line-height: 1.2em;
	margin-bottom: 0;
}

.owl-banner .owl-controls {
	position: relative;
	top: -95px;
}

.owl-theme .owl-dots .owl-dot span {
	border: 2px solid #fff;
}

.owl-theme .owl-dots .owl-dot {
	height: 15px;
	width: 15px;
}

#section-magazine .line-magazine,
#section-video .line-magazine,
#section-project_detail .line-magazine {
	border-top: 1px solid #bbb;
	padding-top: 30px;
	margin-bottom: 20px;
	padding-bottom: 0;
	color: transparent;
}

.img-responsive {
	width: 100%;
}

.image-box.effect.erdi p.image-box-links.image-box-links {
	display: block;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 25%;
	color: #fff;
}

#section-browser .image-box,
#section-about .image-box {
	float: none;
}

.portfolio-item .portfolio-description {
	text-align: center;
	width: 100%;
	background-color: #fff;
	padding: 10px;
	height: auto;
	border-bottom: 4px solid #0C5625;
}

.portfolio-item .portfolio-description h4 {
	line-height: 32px;
	position: relative;
	top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 15px;
}

.portfolio-item .portfolio-description p {
	font-size: 13px;
	font-weight: 400;
}

.portfolio-filter li.ptf-active,
.portfolio-filter li:hover {
	background-color: transparent;
}

.portfolio-filter li {
	padding: 10px;
}

.image-box.effect.erdi:hover .image-box-content,
.portfolio-image.effect.social-links .image-box-content {
	background: rgba(9, 92, 48, 0.6) !important;
}

.ias-trigger .button {
	position: relative;
	/*margin-top: 80%;*/
	z-index: auto;
}

.heading::after {
	border-top: 3px solid #0C5625;
}

#sticky-mobile {
	position: fixed;
	left: 5px;
	display: block;
	z-index: 999;
	bottom: 20px;
	border-radius: 10px;
	background: #fff;
	padding: 2px 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#sticky-mobile a {
	color: #F36F21;
}

#sticky-email {
	position: fixed;
	left: 5px;
	bottom: 85px;
	display: block;
	z-index: 999;
	border-radius: 10px;
	background: #fff;
	padding: 2px 6px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#sticky-email a {
	color: #F3CB00;
}

#sticky-email .fa-3x {
	font-size: 3.4em;
}

/* #sticky-wa {
	position: fixed;
	left: 5px;
	bottom: 86px;
	display: block;
	z-index: 999;
	border-radius: 50%;
	background: #4AC959;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	padding: 2px 5px;
}

#sticky-wa a {
	color: #FFF;
}

#sticky-wa .fa-3x {
	font-size: 4.3em;
} */

#sticky-wa {
	position: fixed;
	right: 1%;
	top: 82%;
	z-index: 99;
	background-color: transparent;
}

.post-custom .post-image {
	width: 60%;
	text-align: center;
}

.post-custom .post-content-details {
	width: 40%;
}

.post-custom .post-title h3 a:hover,
.post-custom .post-info a:hover {
	color: #FCC43F !important;
}

.portfolio-filter li.ptf-active,
.portfolio-filter li:hover {
	color: #0C5625 !important;
}

.gototop-button {
	background-color: #F8DB08;
}

.block-footer {
	display: block !important;
}

#map_canvas {
	height: 450px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.font-search {
	color: #0F5427;
	font-weight: 800;
}

.background-promo {
	background-color: #ffedbb;
}

.jumbotron.jumbotron-fullwidth.background-promo {
	padding: 18px 12px 0px;
}

.icon-type {
	font-size: 20px !important;
	color: #0F5427;
}

.carousel-project .owl-controls .owl-nav {
	opacity: 1;
}

.list-icon .img-icon {
	position: relative;
	top: 6px;
}

/*---------------GENERAL-----------------*/

/*----------------HOME------------------*/
.post-item {
	border-bottom: 0;
}

.height-custom {
	height: 365px;
}

.portfolio-item .portfolio-video {
	text-align: center;
	width: 100%;
	background-color: transparent;
	padding: 10px;
	height: auto;
	border-bottom: 0px;
}

.portfolio-item .portfolio-video h4 {
	line-height: 25px;
}

.whatson-title .post-item .post-title h3 {
	font-size: 22px;
}

/*----------------HOME------------------*/

/*----------------NEWS------------------*/
#section-news .post-item {
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #bbb !important;
}

#section-news .post-item .post-title h3 {
	font-size: 24px;
	margin-top: -8px;
}

.height-green {
	height: 409px;
}

.post-news-custom {
	width: 100% !important;
}

.sidebar-modern::before {
	top: -160px;
}

/*----------------NEWS------------------*/

.owl-bg-img-custom {
	background-position: 100%;
}

#section-contact .icon-contact img {
	vertical-align: 140%;
}

.other-project h5 {
	margin-top: 250px !important;
}

.other-project .image-box.effect.juna .image-box-links {
	margin-top: 25%;
}

/*----------------FOOTER------------------*/
#footer .footer-link li a {
	border-right: 2px solid #fff;
	padding-right: 5px;
	text-transform: uppercase;
}

.footer-link .list-inline li {
	padding-left: 0px;
	padding-right: 0px;
}

.background-footer {
	background-image: linear-gradient(45deg, #00622F, #028E47) !important;
}

#footer .btn-primary {
	background-color: #BCA12E !important;
	border: 1px solid #BCA12E !important;
}

.bar-footer {
	background-image: url('../images/corporate-bar.jpg');
	background-size: 100%;
	background-position: 100%;
	height: 10px;
}

.bar-slider {
	background-image: url('../images/bar-page.jpg');
	background-size: 100%;
	background-position: 100%;
	height: 10px;
}

.bounce {
	animation: 2s ease 0s normal none infinite running bounce;
	bottom: 91px;
	color: #fff;
	display: inline-block;
	font-size: 1.4em;
	left: 49%;
	position: absolute;
	z-index: 999;
}

.gototop-button {
	bottom: 160px;
}



/*----------------FOOTER------------------*/

/*--------VERSI MOBILE & TABLET-----------*/
@media (max-width: 767px) {
	#footer .footer-link li a {
		font-size: 10.5px;
	}

	.copyright-text {
		font-size: 10.5px;
	}

	.social-icons li {
		float: none;
	}

	.widget-newsletter .btn-primary {
		border-radius: 0;
	}

	.post-custom .post-image,
	.post-custom .post-content-details {
		width: 100%;
	}

	.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-prev {
		left: -18px;
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-next {
		left: auto !important;
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-description-style .owl-controls .owl-nav {
		opacity: 0;
	}

	.carousel-description-style .owl-carousel:hover .owl-controls .owl-nav .owl-prev {
		left: 0px;
	}

	.carousel-description-style .owl-carousel:hover .owl-controls .owl-nav .owl-next {
		right: 0px !important;
	}

	#header.header-transparent+#slider {
		margin-bottom: -90px;
		top: -90px;
	}

	.sidebar-custom,
	.sidebar-custom .font-line {
		margin-top: 0 !important;
	}

	.post-custom-detail .post-item p,
	.post-custom-detail .m-b-20,
	.sidebar-custom .widget {
		margin-bottom: 0 !important;
	}

	.post-custom-detail .post-item,
	.sidebar-custom .widget {
		padding-bottom: 0 !important;
	}

	#header.header-transparent {
		background-color: #fff !important;
	}

	#header.header-dark.header-navigation-light .lines,
	#header.header-dark.header-navigation-light .lines::before,
	#header.header-dark.header-navigation-light .lines::after {
		background-color: #000;
	}

	.img-access {
		height: auto !important;
	}

	.owl-theme .owl-dots {
		margin-top: -24px;
	}

	.img-access {
		margin-top: 30px;
	}

	.image-block .col-md-6 {
		padding: 40px;
	}

	.img-access {
		height: 300px !important;
	}

	.padd-mobile {
		padding-bottom: 0 !important;
	}

	.facilities-icon {
		display: none;
	}

	.image-block .p-40 {
		padding: 20px !important;
	}

	.rectangle #tawkchat-status-icon::before {
		left: 14px !important;
	}

	.font-line {
		margin-bottom: 20px !important;
	}

	.img-access {
		margin-top: 0px;
	}

	.post-description img {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.social-icons {
		margin-top: 0px !important;
	}

	.social-icons h4 {
		margin-bottom: 10px !important;
	}

	.icon-box {
		margin-bottom: 20px;
	}

	#sticky-wa {
		position: fixed;
		left: 1.5%;
		top: 85%;
		z-index: 99;
		background-color: transparent;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	#footer .footer-link li a {
		font-size: 10.5px;
	}

	.copyright-text {
		font-size: 10.5px;
	}

	.social-icons li {
		float: none;
	}

	.widget-newsletter .btn-primary {
		border-radius: 0;
	}

	.post-custom .post-image,
	.post-custom .post-content-details {
		width: 100%;
	}

	.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-prev {
		left: -18px;
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-next {
		left: auto !important;
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-description-style .owl-controls .owl-nav {
		opacity: 0;
	}

	.carousel-description-style .owl-carousel:hover .owl-controls .owl-nav .owl-prev {
		left: 0px;
	}

	.carousel-description-style .owl-carousel:hover .owl-controls .owl-nav .owl-next {
		right: 0px !important;
	}

	#header.header-transparent+#slider {
		margin-bottom: -90px;
		top: -90px;
	}

	.sidebar-custom,
	.sidebar-custom .font-line {
		margin-top: 0 !important;
	}

	.post-custom-detail .post-item p,
	.post-custom-detail .m-b-20,
	.sidebar-custom .widget {
		margin-bottom: 0 !important;
	}

	.post-custom-detail .post-item,
	.sidebar-custom .widget {
		padding-bottom: 0 !important;
	}

	#header.header-transparent {
		background-color: #fff !important;
	}

	#header.header-dark.header-navigation-light .lines,
	#header.header-dark.header-navigation-light .lines::before,
	#header.header-dark.header-navigation-light .lines::after {
		background-color: #000;
	}

	.img-access {
		height: auto !important;
	}

	.owl-theme .owl-dots {
		margin-top: -24px;
	}

	.img-access {
		margin-top: 30px;
	}

	.image-block .col-md-6 {
		padding: 40px;
	}

	.img-access {
		height: 300px !important;
	}

	.facilities-icon {
		display: none;
	}

	.image-block .p-40 {
		padding: 20px !important;
	}

	.rectangle #tawkchat-status-icon::before {
		left: 14px !important;
	}

	.font-line {
		margin-bottom: 20px !important;
	}

	.img-access {
		margin-top: 0px;
	}

	.post-description img {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.social-icons {
		margin-top: 0px !important;
	}

	.social-icons h4 {
		margin-bottom: 10px !important;
	}

	.icon-box {
		margin-bottom: 20px;
	}

	#sticky-wa {
		position: fixed;
		left: 1.5%;
		top: 72%;
		z-index: 99;
		background-color: transparent;
	}
}

@media (max-width: 479px) {
	#footer .footer-link li a {
		font-size: 10.5px;
	}

	.copyright-text {
		font-size: 10.5px;
	}

	.social-icons li {
		float: none;
	}

	.widget-newsletter .btn-primary {
		border-radius: 0;
	}

	.post-custom .post-image,
	.post-custom .post-content-details {
		width: 100%;
	}

	.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-prev {
		left: -18px;
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-next {
		left: auto !important;
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-description-style .owl-controls .owl-nav {
		opacity: 0;
	}

	.carousel-description-style .owl-carousel:hover .owl-controls .owl-nav .owl-prev {
		left: 0px;
	}

	.carousel-description-style .owl-carousel:hover .owl-controls .owl-nav .owl-next {
		right: 0px !important;
	}

	#header.header-transparent+#slider {
		margin-bottom: -90px;
		top: -90px;
	}

	.sidebar-custom,
	.sidebar-custom .font-line {
		margin-top: 0 !important;
	}

	.post-custom-detail .post-item p,
	.post-custom-detail .m-b-20,
	.sidebar-custom .widget {
		margin-bottom: 0 !important;
	}

	.post-custom-detail .post-item,
	.sidebar-custom .widget {
		padding-bottom: 0 !important;
	}

	#header.header-transparent {
		background-color: #fff !important;
	}

	#header.header-dark.header-navigation-light .lines,
	#header.header-dark.header-navigation-light .lines::before,
	#header.header-dark.header-navigation-light .lines::after {
		background-color: #000;
	}

	.img-access {
		height: auto !important;
	}

	.owl-theme .owl-dots {
		margin-top: -24px;
	}

	.img-access {
		margin-top: 30px;
	}

	.image-block .col-md-6 {
		padding: 40px;
	}

	.img-access {
		height: 300px !important;
	}

	.facilities-icon {
		display: none;
	}

	.image-block .p-40 {
		padding: 20px !important;
	}

	.rectangle #tawkchat-status-icon::before {
		left: 14px !important;
	}

	.font-line {
		margin-bottom: 20px !important;
	}

	.img-access {
		margin-top: 0px;
	}

	.post-description img {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.social-icons {
		margin-top: 0px !important;
	}

	.social-icons h4 {
		margin-bottom: 10px !important;
	}

	.icon-box {
		margin-bottom: 20px;
	}
}

@media (min-width:768px) and (max-width: 991px) {
	#footer .footer-link li a {
		font-size: 10.5px;
	}

	.copyright-text {
		font-size: 10.5px;
	}

	.social-icons li {
		float: none;
	}

	.widget-newsletter .btn-primary {
		border-radius: 0;
	}

	.post-custom .post-image,
	.post-custom .post-content-details {
		width: 100%;
	}

	.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-prev {
		left: -18px;
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-description-style .owl-theme .owl-controls .owl-nav .owl-next {
		left: auto !important;
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-description-style .owl-controls .owl-nav {
		opacity: 0;
	}

	.carousel-description-style .owl-carousel:hover .owl-controls .owl-nav .owl-prev {
		left: 0px;
	}

	.carousel-description-style .owl-carousel:hover .owl-controls .owl-nav .owl-next {
		right: 0px !important;
	}

	#header.header-transparent+#slider {
		margin-bottom: -90px;
		top: -90px;
	}

	.col-tablet {
		width: 50% !important;
	}

	.sidebar-custom,
	.sidebar-custom .font-line {
		margin-top: 0 !important;
	}

	.post-custom-detail .post-item p,
	.post-custom-detail .m-b-20,
	.sidebar-custom .widget {
		margin-bottom: 0 !important;
	}

	.post-custom-detail .post-item,
	.sidebar-custom .widget {
		padding-bottom: 0 !important;
	}

	#header.header-transparent {
		background-color: #fff !important;
	}

	#header.header-dark.header-navigation-light .lines,
	#header.header-dark.header-navigation-light .lines::before,
	#header.header-dark.header-navigation-light .lines::after {
		background-color: #000;
	}

	.owl-theme .owl-dots {
		margin-top: -24px;
	}

	.img-access {
		margin-top: 30px;
	}

	.image-block .col-md-6 {
		padding: 40px;
	}

	body.device-sm .sidebar .widget {
		width: 100%;
	}

	.post-description img {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.social-icons {
		margin-top: 0px !important;
	}

	.social-icons h4 {
		margin-bottom: 10px !important;
	}

	.icon-box {
		margin-bottom: 20px;
	}
}

@media (min-width:1024px) and (max-width:1024px) {
	#header.header-transparent+#slider {
		top: -221px !important;
		margin-bottom: -221px !important;
	}

	#header-wrap,
	#header {
		height: 70px;
	}

	#mainMenu>ul>li>a {
		font-size: 10px;
		height: 70px;
		line-height: 60px;
	}

	.post-description img {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

/*--------VERSI MOBILE & TABLET-----------/*



<!-- GAMBAR CONTENT -->
<section class="image-block no-padding">
   	<div class="row">
       	<div class="col-md-6 img-access" style="height:500px;background:url('http://images-residence.summarecon.com/images/editor/article/MAIN IMAGE_ACCES TOL SS_595x397 copy.jpg') 50% 50% / cover no-repeat;"></div>
        <div class="col-md-6">
        	<div class="heading heading text-left m-b-0">
            	<h3>Lokasi Strategis &amp; Kemudahan Akses</h3>
            	<span class="lead"><p>Lokasi Summarecon Serpong sangat strategis dan mudah dijangkau karena berbatasan langsung dengan sejumlah jalan tol yang menjadi urat nadi wilayah Jakarta dan Tangerang, diantaranya: Tol Jakarta-Merak melalui Tomang atau Kebon Jeruk, dan Tol TB. Simatupang Melalui Pondok Indah dan BSD.</p></span>
       		</div>
        </div>
    </div>
</section>
<!-- END : GAMBAR CONTENT -->

<!-- GAMBAR CONTENT -->
<section class="image-block no-padding">
    <div class="row">
        <div class="col-md-6">
			<div class="heading heading text-left m-b-0">
	            <h3>Inlet &amp; Exit Tol Jakarta-Merak</h3>
	            <span class="lead"><p>Untuk memberikan kemudahan akses bagi para warga, Summarecon Serpong bersama dua pengembang lain di Gading Serpong bekerjasama dalam pembangunan akses baru menuju jalan tol Jakarta-Merak, dimana sebelumnya akses langsung ini yang tersedia hanya exit toll dari jalan tol Jakarta-Merak menuju kawasan Gading Serpong saja, namun pada tahun 2015 akses ini diperluas dengan penambahan inlet toll yang mempersingkat perjalanan warga menuju pintu tol Jakarta-Merak dan pembangunannya selesai di awal tahun 2016. Dengan adanya inlet dan exit toll ini warga kini memiliki akses mudah kedalam maupun keluar kawasan Gading Serpong, terutama akses menuju Jakarta.</p></span>
	        </div>
        </div>
        <div class="col-md-6 img-access" style="height:500px;background:url('http://images-residence.summarecon.com/images/editor/article/MAIN IMAGE_ACCES TOL SS_595x397 copy.jpg') 50% 50% / cover no-repeat;"></div>
    </div>
</section>
<!-- END : GAMBAR CONTENT -->

<!-- GAMBAR CONTENT -->
<section class="image-block no-padding">
    <div class="row">
        <div class="col-md-6 img-access" style="height:500px;background:url('http://images-residence.summarecon.com/images/editor/article/WEB_INLET TOL SS.jpg') 50% 50% / cover no-repeat;"></div>
        <div class="col-md-6">
			<div class="heading heading text-left m-b-0">
                <h3>Shuttle Bus</h3>
                <span class="lead">
					<p>Untuk memberikan kemudahan bagi para commuter, Summarecon Serpong menyediakan Shuttle Summarecon Serpong, dengan halte yang berlokasi dekat dengan Summarecon Mal Serpong.</p>
					<p>Saat ini Shuttle Summarecon Serpong melayani 4 rute perjalanan menuju Jakarta, yaitu:</p>
					<ol>
						<li><span style="line-height: 1.45em; background-color: initial;">Summarecon Serpong - Kelapa Gading</span></li>
						<li><span style="line-height: 1.45em; background-color: initial;">Summarecon Serpong - Mall Ciputra</span></li>
						<li><span style="line-height: 1.45em; background-color: initial;">Summarecon Serpong - Sudirman&nbsp;FX&nbsp;</span></li>
						<li><span style="line-height: 1.45em; background-color: initial;">Summarecon Serpong - Mangga Dua</span></li>
					</ol>
					<p>Untuk informasi jadwal keberangkatan Shuttle Summarecon Serpong menuju Jakarta <a href="http://www.malserpong.com/facility/facility-public/shuttle-bus"><b>klik disini</b></a>.</p>
					<p>Disamping melayani rute perjalanan ke luar area Summarecon Serpong, Summarecon Serpong juga menyediakan <i>free shuttle</i> yang melayani perjalanan ke beberapa cluster dan fasilitas di sekitar Summarecon Serpong. Untuk informasi rute dan jadwal keberangkatan di dalam kawasan Summarecon Serpong <b><a href="http://www.malserpong.com/facility/facility-public/shuttle-bus-summarecon-serpong">klik disini</a></b>.</p>
				</span>
            </div>
        </div>
    </div>
</section>
<!-- END : GAMBAR CONTENT -->