/* GENERAL */
@font-face {
    font-family: 'Conv_Montserrat-Regular';
    src: url('../webfonts/Montserrat-Regular/fonts/Montserrat-Regular.eot');
    src: local('☺'), url('../webfonts/Montserrat-Regular/fonts/Montserrat-Regular.woff') format('woff'), url('../webfonts/Montserrat-Regular/fonts/Montserrat-Regular.ttf') format('truetype'), url('../webfonts/Montserrat-Regular/fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Montserrat-SemiBold';
    src: url('../webfonts/Montserrat-SemiBold/fonts/Montserrat-SemiBold.eot');
    src: local('☺'), url('../webfonts/Montserrat-SemiBold/fonts/Montserrat-SemiBold.woff') format('woff'), url('../webfonts/Montserrat-SemiBold/fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../webfonts/Montserrat-SemiBold/fonts/Montserrat-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Conv_Montserrat-SemiBold' !important;
}

p,
ul,
li,
span,
font-family: 'Conv_Montserrat-Regular' !important;
    font-size: 14px;
    color: #484848 !important;
.lead {
    letter-spacing: 0.5px;
}

/* i:not(.fa):not(.fab):not(.far):not(.fas) {
    font-family: 'Conv_Montserrat-Regular' !important;
    font-size: 14px !important;
    font-style: italic;
} */

address {line-height: normal !important;}
.img-radius{border-radius: 30px !important;}

.img-kutip {
    width: 60px;
    height: auto;
}

.img-icon {
    width: 25px !important;
    height: auto !important;
}

.text-dark {
    color: #484848 !important;
}

.font-italic {
    font-style: italic;
}

.font-green {
    color: #558055 !important;
}

.font-green-light {
    color: #00ed00 !important;
}

.font-grey {
    color: #666666 !important;
}

.font-gold {
    color: #D8A728 !important;
}

.font-small {
    font-size: 10px;
}

.font-medium {
    font-size: 18px;
}

.form-custom {
    border-radius: 50px !important;
}

.list-icon.list-custom li:before {
    content: "\f192";
    font-family: "font awesome 5 free";
    color: #558055 !important;
}

.border-bottom-gold {
    border-bottom: 3px solid #D8A728 !important;
}

.border-right {
    border-right: 1px solid #666666 !important;
}

.btn-radius {
    border-radius: 50px !important;
}

.btn-gold-custom {
    background-color: #D8A728 !important;
    border-color: #D8A728 !important;
}

.btn-gold-ardea{
    background: linear-gradient(87deg, #BD8E54 0%, #D5B578 100%)!important;
    border-color: linear-gradient(87deg, #BD8E54 0%, #D5B578 100%)!important;
    position:absolute;
    top:80%;
}

.btn:not(.close):not(.mfp-close).btn-reveal i {
    margin-top: -10px;
}

.btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled).active {
    color: #fff !important;
}

.btn:not(.close):not(.mfp-close).btn-slide > i{
    left: 12px;
    top: 11px;
}
.btn:not(.close):not(.mfp-close).btn-slide{
    background-color:#558055 ;
    border-color:#558055 ;
}

.btn-green-custom,
.btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled).active {
    background-color: #558055 !important;
    border-color: #558055 !important;
}

.btn-light {
    background-color: transparent !important;
    color: #fff !important;
    border-color: #fff !important;
}

.btn-light-custom {
    background-color: #fff !important;
    color: #558055 !important;
    border-color: #fff !important;
}

.btn-light-custom:hover {
    background-color: #558055 !important;
    color: #fff !important;
    border-color: #558055 !important;
}

.btn-outline-dark {
    color: #2D2E2D !important;
    border-color: #558055 !important;
    background: transparent !important;
}

.btn-outline-green {
    color: #558055 !important;
    border-color: #558055 !important;
}

.btn-outline-green:hover {
    color: #fff !important;
    background: #558055 !important;
}

.btn-outline-green2 {
    background-color: #fff !important;
    color: #558055 !important;
    border-color: #558055 !important;
}

.btn-transparent-custom {
    background: transparent !important;
}

.btn-otline-green:hover {
    background-color: #558055 !important;
}

.btn-sm-custom {
    line-height: 0px !important;
    border-radius: 50px !important;
    font-size: 13px !important;
    padding: 22px 14px !important;
    height: auto !important;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.img-kawasan {
    width: 150px;
    height: auto;
}

.display-center {
    display: block !important;
    margin: 0 auto !important;
}

.display-inline {
    display: inline-block !important;
}

.display-flex {
    display: inline-flex !important;
}

.bg-overlay-custom {
    background: rgba(0, 0, 0, 0.89) !important;
}

.bg-overlay-mobile {
    padding-bottom: 450px !important;
    padding-top: 450px !important;
}

.heading-text.heading-line h4::before {
    width: 40px;
    height: 4px;
    bottom: -20px;
    background-color: #D8A728;
}

.heading-text.heading-section>h2:before {
    height: 4px;
    width: 60px;
    background-color: #D8A728 !important;
    bottom: -50px;
}

.heading-text-home.heading-section>h2:before {
    bottom: -30px !important;
}

#header .header-inner #logo img,
#header #header-wrap #logo img {
    width: 110px;
    height: auto;
}

#header.dark .header-inner {
    background: rgba(0, 0, 0, 0.2) !important;
}

.social-icons li a {
    margin: 0 6px 4px 0;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
}

.background-call-to-action {
    background: rgb(216, 167, 40);
    margin-bottom: 0 !important;
}

.background-green-1 {
    background: #558055 !important;
}

.background-grey {
    background: #F3F3F3 !important;
}

.padding-slider .slide .container {
    padding-top: 350px !important;
}

.padding-slider .slide .mobile {
    padding-top: 350px !important;
    height: 650px !important;
}

.line-height-27 {
    line-height: 27px !important;
}

.no-border-bottom {
    border-bottom: 0 !important;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
    padding: 10px 16px;
}

.carousel.arrows-visibile .flickity-button.next {
    right: -20px;
}

.carousel.arrows-visibile .flickity-button.previous {
    left: -20px;
}

.flickity-button {
    background: #558055 !important;
}

.flickity-button:before {
    color: #fff !important;
}

.list-inline {
    display: inline-flex !important;
}

.testimonial.testimonial-single .testimonial-item p {
    font-size: 16px;
}

.polo-carousel-item img.img-450 {
    height: 450px !important;
}

.padding-left-custom {
    padding-left: 20px !important;
}

/*HOME*/
.heading-text.heading-custom>h2 {
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 10px;
}

.heading-home.heading-section>h2:before,
.heading-text.heading-line h5:before {
    height: 4px;
    width: 60px;
    background-color: #D8A728 !important;
    bottom: -30px;
}

.bg-overlay-home {
    background: rgba(4, 96, 6, 0.90) !important;
}

.carousel-parallax ol.flickity-page-dots {
    bottom: 20px !important;
}

.call-to-action h3 {
    font-size: 20px;
    padding-top: 0px;
}

.call-to-action .btn-light-custom {
    padding: 12px 18px !important;
}

/* ABOUT */
.tabs-custom .nav-tabs {
    border-bottom: 0 !important;
    margin-bottom: 30px;
    text-align: center;
    display: block ruby;
    margin: 0 auto;
}

.tabs-custom .nav-tabs .nav-link {
    color: #558055;
    background-color: transparent;
    border: 1px solid #558055;
    border-radius: 50px;
    margin: 0px 10px;
    padding: 8px 14px;
}

.tabs-custom .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #558055;
    border: 1px solid #558055;
    border-radius: 50px;
    margin: 0px 10px;
}

.shop-promo-box {
    border: 8px solid #D8A728 !important;
}

/* TOWN MANAGEMENT */
.heading-text.heading-section.heading-town>h2 {
    font-size: 32px;
}

.heading-text.heading-section.heading-town>h2::before {
    bottom: -30px;
}

.heading-text.heading-section p {
    line-height: 25px;
    font-size: 14px;
}

/* PROJECT */
.product .product-title {
    max-width: 100% !important;
    width: 100% !important;
}

.border-gold {
    border: 5px solid#D8A728 !important;
    height: 330px;
    padding: 15px;
}

.team-members.team-members-circle .team-member {
    padding: 20px;
}

.team-members .team-member .team-image>img {
    height: 305px;
}

.carousel-project .flickity-page-dots {
    width: auto !important;
    background: #558055 !important;
    border-radius: 50px;
    bottom: 15px;
    height: 30px;
}

.heading-project.heading-text.heading-section>h2 {
    font-size: 34px;
    line-height: 45px;
}

.heading-project-detail.heading-text.heading-section>h2 {
    font-size: 26px !important;
    line-height: 36px !important;
}

.heading-project.heading-text.heading-section>h2:before {
    bottom: -25px;
}

.heading-project-detail.heading-text.heading-section>h2:before {
    bottom: -30px;
}

.portfolio-4-columns .product-title h3 a,
.portfolio-4-columns .product-title h3 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;
}

.portfolio-item.overlay-dark .portfolio-image:after {
    background-color: rgba(0, 0, 0, 0.6);
}

.project-sale .product-description .product-title h3 {
    font-size: 16px !important;
    font-weight: 700;
    text-transform: uppercase !important;
}

.page-menu {
    border-bottom: 0px;
    border-top: 0px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.page-menu nav>ul>li {
    padding: 0 10px;
    border: 2px solid #558055;
    margin: 0 10px !important;
}

.page-menu nav>ul>li>a {
    font-size: 15px;
    text-transform: uppercase;
}

.page-menu nav>ul>li.active>a {
    color: #558055 !important;
}

.portfolio-past img,
.portfolio-past .portfolio-description,
.portfolio-past .portfolio-item-wrap {
    cursor: default;
}

/* CONTACT US */
.form-control-us {
    border: 1px solid #D8A728 !important;
    border-radius: 50px !important;
    font-size: 0.9rem !important;
}

.form-control-message {
    border-radius: 10px !important;
    border: 1px solid #D8A728 !important;
}

.btn:not(.close):not(.mfp-close).btn-sales i {
    margin-top: -9px !important;
}

/* EXPLORE */
.post-thumbnails .post-item .post-image {
    width: 20%;
}

.post-thumbnails .post-item:not(.quote) .post-item-description {
    width: 80% !important;
}

.portfolio-none .portfolio-image:after {
    cursor: none !important;
}

.btn:not(.close):not(.mfp-close).btn-slide-custom {
    display: inline-block !important;
}

.img-explore {
    width: 30px !important;
}

.img-explore-large {
    height: 506px !important;
}

/* AWARDS */
.timeline .timeline-item .timeline-icon {
    background-color: #558055;
}

.timeline .timeline-item .timeline-item-date {
    font-size: 1.9rem;
    font-weight: 600;
    padding-top: 5px;
}

/* SIMULASI */
.tabs .nav-simulasi .nav-link.active {
    color: #558055;
}

/*ECATALOG*/
.book-catalog {
    background-color: #fff !important;
    border: 0px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 30px !important;
    z-index: 99;
    top: -55px;
    position: relative;
}

.book-catalog .form-control {
    background-color: #E5E0DA;
    border: 1px solid #E5E0DA;
    border-radius: 15px;
    min-height: 55px !important;
}

.book-catalog .g-recaptcha {display: inline-block;}

.book-catalog button.btn.btn-dark.btn-outline{border-color: #D8A728 !important;}
.book-catalog button.btn.btn-dark.btn-outline:hover{background-color: #D8A728 !important;color: #fff !important;}

.viewed {
    position: absolute!important;
    right: 0;
    top: 20px;
    padding: 5px 10px;
    background-color: #D8A728 !important;
    color: #fff !important;
    font-weight: 700px !important;
    border-radius: 10px;
}

.button-wa-catalog .post-thumbnail-entry {
  background: transparent !important;
  border: 2px solid #558055;
  margin-top: 50px;
}
.radius-top-catalog{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.radius-bottom-catalog{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* CONTACT */
select:invalid {
    color: red !important;
}

option:disabled {
    color: red !important;
}

/*FOOTER*/
#footer {
    line-height: 15px;
}

#footer a:not(.btn) {
    color: #558055;
}

.footer-wa {
    background: #fff;
    border-radius: 50px;
    padding: 25px;
}

.background-footer {
    background: rgb(229, 224, 218) !important;
    /* background: linear-gradient(180deg, rgba(18,180,39,1) 0%, rgba(4,94,6,1) 100%); */
}

.button-wa-footer .post-thumbnail-list .post-thumbnail-entry>img {
    float: right !important;
    height: auto !important;
    width: auto !important;
    margin-right: 0;
}

.button-wa-footer .post-thumbnail-entry {
    float: right;
    width: 100%;
    background: #fff;
    border-radius: 50px;
    padding: 6px 15px;
}

.button-wa-footer .post-thumbnail-entry .post-thumbnail-content a {
    font-size: 18px;
    margin-top: 15px;
    font-style: italic;
    margin-bottom: 5px;
    font-weight: 600 !important;
}

.button-wa-footer .post-thumbnail-list .post-thumbnail-entry img+.post-thumbnail-content {
    padding-left: 10px;
}

.list-legend li a:hover {
    color: #D8A728 !important;
}

.list-dekstop li {
    line-height: 20px !important;
}

.img-footer {
    width: 170px;
}

.social-icons.social-icons-colored-hover .social-instagram a:hover {
    background-color: #558055 !important;
    color: #fff !important;
}

.scrollTop {
    position: fixed;
    z-index: 999;
    opacity: 1;
    bottom: 80px;
    right: 25px;
}

.img-wa {
    width: 48px;
}

.float{
    position: fixed;
    width: 72px;
    height: 72px;
    bottom: 70px;
    right: 20px;
    background-color: #4FCE5D;
    color: #FFF !important;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 2px 2px 3px #cccccc;
    z-index: 100;
    opacity: 0.8;
}

.float i,
#wa-top-area img{
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.my-float {margin-top: 16px;}

.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
}

.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
}

.hotline-phone-ring-circle-wa {
    width: 110px;
    height: 110px;
    top: -18px;
    left: -18px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #4FCE5D;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.hotline-phone-ring-circle-fill-wa {
    width: 80px;
    height: 80px;
    top: -3px;
    left: -5px;
    position: absolute;
    background-color: #4FCE5D;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.hotline-phone-ring-circle {
    width: 110px;
    height: 110px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #214095;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.hotline-phone-ring-circle-fill {
    width: 80px;
    height: 80px;
    top: 16px;
    left: 16px;
    position: absolute;
    background-color: rgba(21, 100, 167, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.hotline-phone-ring-img-circle {
    background-color: #214095;
    width: 50px;
    height: 50px;
    top: 31px;
    left: 31px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 33px;
    height: 33px;
}

.hotline-bar {
    position: absolute;
    background: #214095;
    height: 45px;
    width: 195px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.75);
    border-radius: 50px !important;
    left: 42px;
    bottom: 31px;
}

.hotline-bar>a {
    color: #fff !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-indent: 32px;
    letter-spacing: 1px;
    display: block;
    line-height: 45px;
    font-family: Arial;
}

.hotline-bar>a:hover,
.hotline-bar>a:active {
    color: #fff;
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }

    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.6;
    }

    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

/* MOBILE */
@media (min-width:320px) and (max-width: 767px) {
    .m-t-0-m {
        margin-top: 0px !important;
    }

    .m-t-10-m {
        margin-top: 20px !important;
    }

    .m-t-20-m {
        margin-top: 20px !important;
    }

    .m-b-0-m {
        margin-bottom: 0px !important;
    }

    .m-b-10-m {
        margin-bottom: 10px !important;
    }

    .m-b-20-m {
        margin-bottom: 20px !important;
    }

    .m-b-50-m {
        margin-bottom: 50px !important;
    }

    .m-t-30-m {
        margin-top: 30px !important;
    }

    .m-t-20-m {
        margin-top: 20px !important;
    }

    .m-t-70-m {
        margin-top: 70px !important;
    }

    .p-t-0-m {
        padding-top: 0px !important;
    }

    .p-t-5-m {
        padding-top: 5px !important;
    }

    .p-t-10-m {
        padding-top: 10px !important;
    }

    .p-t-20-m {
        padding-top: 20px !important;
    }

    .p-t-40-m {
        padding-top: 40px !important;
    }

    .p-b-20-m {
        padding-bottom: 20px !important;
    }

    .p-b-10-m {
        padding-bottom: 10px !important;
    }

    .p-b-0-m {
        padding-bottom: 0px !important;
    }

    .p-t-150-m {
        padding-top: 150px !important;
    }

    .p-b-40-m {
        padding-bottom: 40px !important;
    }

    .p-45-m {
        padding-left: 45px !important;
        padding-right: 45px !important;
    }

    .p-30-m {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .container-no-padding {padding: 0 !important;}

    .col-no-padding-m {
        padding-left: 0;
        padding-right: 0;
    }

    .font-size-12 {
        font-size: 12px !important;
    }

    .font-size-10 {
        font-size: 10px !important;
    }

    .text-center-m {text-align: center !important;}
    .text-left-m {text-align: left !important;}
    .text-justify-m{text-align: justify !important;}

    .btn-mobile-home {
        display: table;
        text-align: center;
        margin: 0 auto
    }

    .btn-xs-m {
        padding: 6px 10px !important;
        font-size: 10px !important;
    }

    .img-mobile {
        display: block !important;
        margin: 0 auto !important;
    }

    .lead {
        font-size: 13px !important;
    }

    .text-medium {
        font-size: 25px !important;
    }

    #header .header-inner,
    #header #header-wrap {
        box-shadow: 0 12px 6px rgba(0, 0, 0, .06);
        top: 0;
        position: fixed;
        margin: 0 auto;
        width: 100%;
    }

    #header.dark .header-inner {
        background: rgba(255, 255, 255, 0.8) !important;
    }

    #header.dark .header-inner .lines,
    #header.dark .header-inner .lines::before,
    #header.dark .header-inner .lines::after {
        background-color: #558055 !important;
    }


    .list-mobile,
    .list-mobile-center {
        display: inline-block !important;
        margin: 0 auto !important;
    }

    .list-mobile li {
        line-height: 15px !important;
        margin-right: 5px;
    }

    .list-mobile li a {
        font-size: 11px !important;
    }

    #top--80{
        top: -80px!important;
    }

    #page-title {
        top: -80px !important;
        margin-bottom: -100px !important;
        padding: 80px 0 80px !important;
    }

    .heading-text.heading-section>h5:before {
        content: "";
        position: absolute;
        height: 4px;
        width: 40px;
        background-color: #D8A728;
        bottom: -20px;
        left: 0;
        right: 0;
    }

    .carousel-mobile .flickity-button {
        background: rgba(85, 128, 85, 0.8) !important;
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

    .carousel-mobile .flickity-button.next:before,
    .carousel-mobile .flickity-button.previous:before {
        font-size: 50px !important;
    }

    .carousel-mobile-news .flickity-page-dots {
        bottom: 0;
        text-align: left;
        left: 25px;
    }

    .social-icons li a {
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 15px;
    }

    .copyright-mobile {
        display: table;
        margin: 0 auto;
        padding-top: 10px;
    }

    .team-members.team-members-circle .team-member {
        padding: 0;
    }

    .team-members .team-member .team-image>img {
        height: auto;
    }

    .tabs-sales .nav-tabs .nav-link {
        padding: 10px !important;
    }

    .tabs-custom .nav-tabs .nav-link.active {
        margin: 0 5px;
    }

    .heading-project.heading-text.heading-section>h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .post-news .post-item,
    .portfolio-past {
        width: 50% !important;
    }

    .social-icons li a {
        margin: 0 2px 4px 0;
    }

    .btn-float {
        bottom: 210px;
        opacity: 1;
        z-index: 199;
        position: fixed;
        right: 0px;
    }

    button.btn-float,
    .btn-float:not(.close):not(.mfp-close) {
        background-color: #D8A728;
        border-color: #D8A728;
        border-width: 3px;
        border-right-width: 0px;
        border-radius: 50px 0px 0px 50px !important;
    }

    button.btn.btn-float,
    .btn:not(.close):not(.mfp-close).btn-float {
        position: fixed !important;
        padding: 12px;
        line-height: 24px;
    }

    button.btn-float:hover,
    .btn-float:not(.close):not(.mfp-close):hover {
        background-color: #fff;
        border-color: #D8A728;
    }

    button.btn.btn-float>span,
    .btn:not(.close):not(.mfp-close).btn-float>span {
        left: 40px;
        position: initial;
        top: 17px;
        color: #558055;
        font-style: italic;
        font-weight: 800 !important;
        float: right;
        text-transform: none;
    }

    button.btn.btn-float>i,
    .btn:not(.close):not(.mfp-close).btn-float>i {
        left: 14px;
        top: 11px;
        font-size: 30px;
    }

    .post-mobile-m h4 {
        font-size: 14px !important;
    }

    .post-mobile-m .post-meta-date {
        font-size: 12px !important;
    }

    .heading-text h4 {
        font-size: 22px;
        line-height: 30px;
    }

    .carousel-mobile-home .flickity-page-dots {
        bottom: 25px !important;
    }

    .carousel-mobile-home .flickity-page-dots .dot {
        width: 30px;
        height: 5px;
        box-shadow: inset 0 0 0 1px #ffffff;
        -webkit-box-shadow: inset 0 0 0 1px #ffffff;
        border-radius: 0;
    }

    .carousel-mobile-home .flickity-page-dots .dot:after {
        background-color: #fff;
        box-shadow: inset 0 0 0 1px #ffffff;
        webkit-box-shadow: inset 0 0 0 1px #ffffff;
        border-radius: 0px;
    }

    .polo-carousel-item img.img-450 {
        height: auto !important;
    }

    .testimonial-left .flickity-page-dots {
        bottom: auto !important;
        left: -120px;
    }

    .post-thumbnails .post-item .post-image {
        width: 100%;
    }

    .post-thumbnails .post-item,
    .portfolio-2-columns .portfolio-item {
        width: 50% !important;
    }

    .post-thumbnails .post-item:not(.quote) .post-item-description {
        width: 100% !important;
    }

    .post-item .post-item-description {
        padding: 0;
    }

    .img-explore-detail {
        width: 20px !important;
    }

    #blog .post-item .post-item-description>h2>a {
        font-size: 16px !important;
        font-weight: 300 !important;
    }

    #blog.post-thumbnails .post-item {
        border-bottom: 0px !important;
    }

    address {
        font-size: 12px !important;
    }

    .heading-text.heading-section.heading-town>h2 {
        font-size: 26px;
    }

    .scrollTop {
        position: fixed;
        z-index: 999;
        opacity: 1;
        bottom: 75px;
        right: 21px;
    }

    .container-mobile {
        padding: 0 !important;
    }

    .col-mobile {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .item-project {
        padding: 0px 15px 0px 15px !important;
    }

    .float{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .hotline-phone-ring-circle-fill-wa {
        width: 60px;
        height: 60px;
        top: -5px;
    }
    .hotline-phone-ring-circle-wa {
        width: 80px;
        height: 80px;
        top: -15px;
        left: -15px;
    }
    .my-float {margin-top: 10px;}

    .button-wa-catalog .post-thumbnail-entry{margin-top:20px;}
    .button-wa-catalog .post-thumbnail-entry .post-thumbnail-content a {font-size: 15px;
}

.carousel-cell {
    width: 100%;
    height: 300px;
}

.carousel-cell--height{
    height: 300px;
}

.carousel-cell--height2 {
    max-height: 500px;
}


#player-banner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    z-index:999;
}

#player-banner video {
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}
