/* Gallery overlay */
.gallery-overlay {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid #000
}

.gallery-overlay-image {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 250px
}

.gallery-overlay-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.gallery-overlay-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    opacity: .7;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    transition: opacity .6s;
    vertical-align: middle;
    line-height: 200px
}

.gallery-overlay-text:hover {
    opacity: 1
}

.gallery-overlay-text h3 {
    color: #fff;
    display: inline-table;
    vertical-align: middle;
    line-height: 100%
}
